
body{
margin:0;
font-family:Arial;
background:#07152e;
color:white;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(135deg,#07152e,#0d2d69);
}

.hero h1{
font-size:64px;
color:gold;
}

.btn{
display:inline-block;
padding:14px 26px;
background:gold;
color:black;
text-decoration:none;
border:none;
border-radius:12px;
font-weight:bold;
cursor:pointer;
margin-top:20px;
}

.categories,.checkout,.tracker{
padding:70px 20px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
max-width:1000px;
margin:auto;
}

.card{
background:#102a5e;
padding:30px;
border-radius:20px;
}

form{
display:flex;
flex-direction:column;
gap:15px;
max-width:600px;
margin:auto;
background:#102a5e;
padding:30px;
border-radius:20px;
}

input,select{
padding:14px;
border-radius:10px;
border:none;
}

.steps{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
margin-bottom:20px;
}

.step{
background:#102a5e;
padding:15px 20px;
border-radius:12px;
}

.active{
background:gold;
color:black;
}

footer{
padding:40px;
text-align:center;
background:#030916;
}
